:root {
    --base-root: 16px;
    --ratio: 1.25;
    --base-rem: 1rem;
    --size-scale-1: calc(var(--base-rem)* var(--ratio));
    --size-scale-2: calc(var(--size-scale-1)* var(--ratio));
    --size-scale-3: calc(var(--size-scale-2)* var(--ratio));
    --size-scale-4: calc(var(--size-scale-3)* var(--ratio));
    --main-bg: gray;
    --green: rgb(3, 63, 3);
    --black: rgb(0, 0, 0);
    --white: rgba(255, 255, 255, 0.897);
}

body {
    background-color: var(--main-bg);
    color: var(--white);
    font-size: var(--base-root);
}

h1,
h2,
h3 {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

h1 {
    font-size: var(--size-scale-4);
}

h2 {
    font: var(--size-scale-3);
}

H3 {
    font-size: var(--size-scale-2);
}

p {
    font-size: var(--size-scale-1);
}

img {
    max-width: 100%;
}

a {
    background-color: transparent;
    color: var(--white);
    text-decoration: none;
}

figure {
    margin: 0;
}

blockquote {
    color: var(--white);
    font-size: var(--size-scale-1);
    font-style: italic;
}

button {
    cursor: pointer;
    cursor: auto;
}

@media (min-width: 720px) {
    body {
        max-width: 700px;
    }
}

@media (min-width: 1024px) {
    body {
        max-width: 990px;
    }
}

@media (min-width: 1200px) {
    body {
        max-width: 1150px;
    }
}

@media (min-width: 1600px) {
    body {
        max-width: 1550px;
    }
}