@import url("header.css");
@import url("footer.css");
@import url("global.css");
.highlighted-posts a {
    background-color: var(--green);
    width: auto;
    margin: 10px;
    text-align: center;
}

.highlighted-posts img {
    align-content: center;
    width: 200px;
    height: 200px;
}