@import url("header.css");
@import url("footer.css");
@import url("global.css");
.highlighted-posts {
    width: auto;
    margin: 10px;
    text-align: center;
}

.highlighted-posts img {
    align-content: center;
    width: 200px;
    height: 200px;
}

.highlighted-posts figcaption {
    font-size: 14px;
}

.recent-posts {
    background-color: var(--green);
}

.recent-posts img {
    left: 40px;
    width: 600px;
    height: 300px;
}

.posts {
    margin: 40px;
}

.post-titles {
    padding: 15px;
    font-weight: bold;
    font-size: 30px;
}

@media (min-width: 720px) {
    .highlight {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .highlight {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}