@import url("./header.css");
@import url("./global.css");
@import url("./normalize.min.css");
.featured-blog-posts {
    position: relative;
    text-align: center;
}

.featured-blog-posts .tag {
    background-color: var(--light-blue);
    text-transform: uppercase;
    font-weight: bold;
    color: var(--black);
    border-radius: 25px;
    font-size: .75rem;
    right: 40px;
    padding: 0.317rem;
    position: absolute;
    top: 10px;
}

.featured-blog-posts img {
    width: 250px;
    height: 250px;
}

.featured-blog-posts figcaption {
    font-size: .875rem;
    margin: var(--base-rem) auto;
}

.blog-post-intro .post-title,
.blog-post-intro .post-metadata,
.blog-post-intro .post-content-intro,
.blog-post-intro .read-more,
.subscription-callout>* {
    margin-left: var(--base-rem);
}

.blog-post-intro {
    margin: var(--size-scale-1) auto;
}

.blog-post-intro .post-title {
    font-size: var(--size-scale-1);
}

.blog-post-intro .post-metadata * {
    padding-right: 0.5rem;
}

.blog-post-intro .post-metadata *:not(:last-child)::after {
    content: ".";
    padding-left: .5rem;
    transform: translateY(-3px);
}

.blog-post-intro .post-category {
    color: var(--light-blue);
}

.blog-post-intro .post-content-intro {
    color: var(--gray);
    border-bottom: 1px solid var(--neutral-gray);
    line-height: 1.2;
    padding-bottom: var(--base-rem);
}

.blog-post-intro .read-more {
    color: var(--light-blue);
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
}

.blog-post-intro img {
    width: 600px;
    height: 400px;
}

.subscription-callout {
    background-color: var(--black);
    margin: var(--size-scale-1) 0;
    padding: var(--base-rem);
    text-align: center;
}

.email-field {
    display: flex;
    flex-direction: column;
}

.email-field input {
    border: 0;
    border-radius: 10px;
    outline: 0;
    padding: var(--base-rem);
}

.email-field button {
    background: var(--light-blue);
    border: 0;
    color: var(--white);
    margin: var(--base-rem);
    padding: var(--base-rem);
}

.footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: var(--base-rem);
}

.social-networking a {
    text-decoration: underline;
    padding-right: 0.75rem;
}

@media (min-width: 720px) {
    .header {
        padding: 0 var(--base-rem);
    }
    .nav {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    .featured {
        display: grid;
        grid-gap: 0.75rem;
        grid-template-columns: repeat(4, 1fr);
        margin: var(--size-scale-1) auto;
    }
    .featured-blog-posts .tag {
        right: 10px;
    }
    .featured-blog-posts img {
        width: auto;
    }
    .blog-post-intro {
        margin: var(--size-scale-1) var(--size-scale-3);
    }
    .blog-post-intro .post-title {
        font-size: var(--size-scale-2);
    }
    .blog-post-intro .post-title,
    .blog-post-intro .post-metadata,
    .blog-post-intro .post-content-intro,
    .blog-post-intro .read-more,
    .subscription-callout>* {
        margin-left: var(--size-scale-4);
        margin-right: var(--size-scale-4);
    }
}

@media (min-width: 1024px) {
    .blog-post-intro {
        margin: var(--size-scale-1) var(--size-scale-4);
    }
}

@media (min-width: 1200px) {
    .featured-blog-posts .tag {
        right: 20px;
    }
}